@charset "utf-8";
/* CSS Document */
body{font-family: koliko;  margin: 0px;padding: 0px;background: #FFF;}


.esqam{position:absolute; top:0px; left: 0px; width: 45%;margin: 0px; padding: 0px; z-index: -1;  float: none}
.barranavizq{position: relative; z-index: 0}
.barranavizq a{float: left ;text-align: center; padding: 8px 20px; text-decoration: none; color: white; font-size: 25px;margin-left: 15px; margin-top: 8px}


.barranavder{position: absolute;overflow: hidden; z-index: 0; right: 10px;}
.barranavder a{float:right; text-align: center; padding: 8px 20px; text-decoration: none; color: #000; font-size: 25px; margin-top: 8px}

.proceso{margin: 0px; padding: 0px;}

.subna{ float: left; overflow: hidden; z-index: 1}
.subnavbnt{ border: none; outline: none; color: #000; padding: 0px 16px; background: inherit; text-align: center;float:right; text-decoration: none;  font-size: 25px; font-family: koliko;}


.barranavder a:hover:not(.activo), .subna:hover .subnavbnt{background:#B1AEAE;border-radius: 25px; }
.inform {display: none; position: relative;left: 0px; background: #B1AEAE;width: 250px;align-items: center;}
.inform a{font-size: 20px;text-align: center; align-content:center;border-radius: 25px;}
.inform a:hover{background:#5E5E5E;border-radius: 25px;}
.subna:hover .inform{display: block;}


.curvam{position: absolute; top:160px; left: 0px; width: 100%; z-index: -1; float: none;}


.contenido{width: 100%; align-content: center; justify-content: center; float: none;position: relative;top: 30px;}
.personaje{height: 320px; shadow: 7px 5px 3px #CCC; justify-content:center;position: absolute; left: 40%; top: 50px}

.exp{color: white; position: absolute; right: 8%; top: 370px;font-size: 95px;}
.nombre{color:#FCB910; border: 10px #F95C4B;position: absolute; top: 470px; right: 3%;font-size: 130px; }

.curv{ position: absolute; top: 800px; width: 100%;left: 0px;}


.textura{position: absolute; width: 25%; left: 0px;top: 380px; float: none;}
.textura2{position: absolute; width: 25%; right: 0px;top: 760px; float: none;}
.tatu{position: absolute; top: 830px; right: 28%;font-size: 130px; color:#fff;}

.parte1{width: 20%; position: absolute; top:1070px; font-family: arial; left: 15%;font-size: 20px; text-align: justify}
.parte2{width: 20%; position: absolute; top:1080px; font-family: arial; left: 42%;font-size: 20px; text-align: justify}
.armad{width:25%; position: absolute; top:1085px; right: 5%;}

.barranavizq a:hover:not(.activo){background:#B3B2B2; border-radius: 25px;}
.barranavder a:hover:not(.activo){background:#B3B2B2; border-radius: 25px; }
.activo{background: #000000; color: white;border-radius: 25px;}