@charset "utf-8";
/* CSS Document */
body{font-family: koliko;  margin: 0px;padding: 0px;background: #FFF;}

.esqam{position:absolute; top:0px; left: 0px; width: 45%;margin: 0px; padding: 0px; z-index: -1; float: none}


.curvam{position: absolute; top:160px; left: 0px; width: 100%; z-index: 0; float: none;}
.rect{width: 100%; position: absolute; background: #FCB910;height: 250px; top: 670px;}
.content{width: 100%; align-content: center; justify-content: center; float: none;position: relative;top: 30px;}
.personaje{height: 330px; shadow: 7px 5px 3px #CCC; justify-content:center;position: absolute; left: 45%;}
.bienv{color: white; position: absolute; right: 10%; top: 290px;font-size:7vw;}
.nombre{color:#F95C4B; border: 10px #F95C4B;position: absolute; top: 370px; right: 23%;font-size:10vw; }


.inicios{ font-size: 25px; text-align: center; border-radius: 40px; background: #F95C4B; border: none; position: absolute; top: 620px; right: 28%; padding: 10px 20px; font-family: koliko; }
a{text-decoration: none; color: #FFFFFF;}
.regis{font-size: 21px; text-align: center; position: absolute; top: 680px; right: 30%;font-family: koliko; }

.textura{position: absolute; width: 25%; left: 0px;top: 350px }
.menusup{position: relative;z-index: 1; overflow: hidden;}
.menusup a{float: left ;text-align: center; padding: 8px 20px; text-decoration: none; color: white; font-size: 25px;margin-left: 15px; margin-top: 8px}
.menusup a:hover:not(.activo){background:#B3B2B2; border-radius: 25px;}
.menusup .icono {display: none;}
.activo{background: #000000; color: white;border-radius: 25px;}

@media only screen and (min-width:900px){
	.rect{height: 150px; top: 630px}
}

@media only screen and (max-width:900px){
	
		.cuerpo{width: 100%;}
	.esqam{width: 55%;}
.menusup a:not(:first-child){
		display: none;
	}
	.menusup a.icono {float: right; display: block;}
	.menusup.responsive {position: relative;z-index: 1;}
	.menusup.responsive .icono {position: absolute;right: 0px; top: 0px;}
	.menusup.responsive a {float: none; display: block; text-align: left;background:#7C7C7C; color: #000;border-radius: 20px;z-index: 1}
	.personaje{height: 270px; left: 43%; position: absolute; float: none;}
	.curvam{top: 120px}
	.rect{ top: 390px;}
	.bienv{font-size: 9vw; right: 6%; top: 240px;}
	.nombre{font-size: 15vw; top: 300px;}
	.inicios{top: 535px; right: 40% }
	.regis{top: 595px;right: 44%;}
	.textura{top: 310px;}
}

@media only screen and (max-width:600px){
	
	.cuerpo{width: 100%;}
	.esqam{width: 55%;}
.menusup a:not(:first-child){
		display: none;
	}
	.menusup a.icono {float: right; display: block;}
	.menusup.responsive {position: relative;z-index: 1;}
	.menusup.responsive .icono {position: absolute;right: 0px; top: 0px;}
	.menusup.responsive a {float: none; display: block; text-align: left;background:#7C7C7C; color: #000;border-radius: 20px;z-index: 1}
	.personaje{height: 250px; left: 37%; position: absolute; float: none;}
	.curvam{top: 180px}
	.rect{ top: 320px;}
	.bienv{font-size: 10vw; right: 3%;top: 250px;}
	.nombre{font-size: 20vw; top: 280px; right: 15%}
	.inicios{top: 460px; right: 20%;}
	.regis{top: 520px;right: 25%;}
	.textura{top: 310px;}
}








