@charset "utf-8";
/* CSS Document */

body{font-family: koliko;  margin: 0px;padding: 0px;background: #FFF;}
.esqroj{position:absolute; top:0px; left: 0px; width: 42%;margin: 0px; padding: 0px; z-index: -1; float: none}

.esqmo{position:absolute; top:0px; left: 0px; width: 45%;margin: 0px; padding: 0px; z-index: -1; float: none;}

.esqam{position:absolute; top:0px; left: 0px; width: 42%;margin: 0px; padding: 0px; z-index: -1; float: none}
.cuerpo{width: 100%; height: 1200px;}

.barranavizq{position: relative; z-index: 0}
.barranavizq a{float: left ;text-align: center; padding: 8px 20px; text-decoration: none; color: #fff; font-size: 25px;margin-left: 15px; margin-top: 8px}


.barranavder{position: absolute;overflow: hidden; z-index: 0; right: 10px;}
.barranavder a{float:right; text-align: center; padding: 8px 20px; text-decoration: none; color: #000; font-size: 25px; margin-top: 8px}



.subna{ float: left; overflow: hidden; z-index: 1}
.subnavbnt{ border: none; outline: none; color: #fff; padding: 0px 16px; background: inherit; text-align: center;float:right; text-decoration: none;  font-size: 25px; font-family: koliko;}


.barranavder a:hover:not(.activo), .subna:hover .subnavbnt{background:#B1AEAE;border-radius: 25px; }
.inform {display: none; position: relative;left: 0px; background: #B1AEAE;width: 250px;align-items: center;}
.inform a{font-size: 20px;text-align: center; align-content:center;border-radius: 25px; color: #000;}
.inform a:hover{background:#5E5E5E;border-radius: 25px;}
.subna:hover .inform{display: block;}

.personaje{width: 17%; shadow: 7px 5px 3px #CCC; justify-content:center;position: absolute; left: 42%; top: 10px}

.autoc{transform:rotate(-90deg); background: #9768F2; width: 450px; height: 100px; text-align: center; justify-content: center;position: absolute; top: 500px; left: -175px; font-size: 25px;border-radius: 30px; color: #fff; padding-top: 20px;
	
}
.red{transform: rotate(-90deg); background: #00BCBC; width: 450px; height: 120px; text-align: center; justify-content: center;position: absolute; top: 500px;left: -175px; font-size: 25px;border-radius: 30px; color: #fff; padding-top: 20px}

.pres{transform:rotate(-90deg); background: #F95C4B; width: 450px; height: 100px; text-align: center; justify-content: center;position: absolute; top: 500px; left: -175px; font-size: 20px;border-radius: 30px; color: #fff;padding-top: 20px
	
}

.carousel {top: 200px; left: 66px; width: 95%;}
.carousel-inner{width: 70%; height: 500px; }
.carousel-item{width: 30%;left: 55%; box-shadow: 9px 5px 6px #888;top: 35px;}
.carousel-control-prev{width: 50px; height: 50px; top: 250px; left: 50px;}
.carousel-control-next{width: 50px; height: 50px; top: 250px; right: 50px;}

.flip-card{background: transparent;  perspective: 1000px;}
.flip-card-info{position: absolute;width: 100%;height: 100%; text-align:center; transition: transform 0.6s; transform-style: preserve-3d; box-shadow: 0px 4px 8px rgba(0,0,0,0.2);}
.flip-card:hover .flip-card-info{transform: rotateY(180deg);}
.flip-card-frente, .flip-card-respaldo{position: absolute; width: 100%; height: 100%; backface-visibility: hidden;}
.flip-card-frente{background: #DDD; color: black;}
.flip-card-respaldo{background: #891EDA; color: white; transform: rotateY(180deg);width: 150%;}



.caja{background: #FCB910; border-radius: 40px; width: 60%; height: 300px; position: relative;top: 250px;left:20%;font-family: arial;  align-content: center;}
.parrafo{width: 60%; position: absolute; top:50px; left: 15% }
.planta{width: 16%; position: absolute; right: 3%;bottom: 5px;}

.subna a:hover:not(#activo){background:#B3B2B2; border-radius: 25px;}
.barranavizq a:hover:not(#activo){background:#B3B2B2; border-radius: 25px;}
.barranavder a:hover:not(#activo){background:#B3B2B2; border-radius: 25px; }
#activo{background: #000000; color: white;border-radius: 25px;}

