@charset "utf-8";
/* CSS Document */
body{width: 100%; height: 600px;font-family: analogy;  margin: 0px;padding: 0px;}
.contenido{width: 100%; height: 500px; ;position: relative; top: 50px;padding-top: 30px;}

.sesion{width: 55%; height: 300px; background: #F95C4B; position: absolute; left: 7%;border-radius: 50px; }

h1{position: absolute; left: 15%; font-size: 50px;font-family: KOLIKO; color: #FFF;}

.usu{position: absolute; left: 37%; top: 130px; background:#FFF; height: 35px;color: #000000; border: none; border-radius: 20px; }
.con{position: absolute; left: 37%; top: 190px;background:#fff; height: 35px; color: #000000; border: none; border-radius: 20px; }
.tx{color: #fff; font-family: koliko; font-size: 25px;
position: absolute; top: 130px; left: 25%;}
.tx2{color: #fff; font-family: koliko; font-size: 25px;
position: absolute; top: 190px; left: 21%;}

.cont{font-size: 22px; text-align: center;font-family: KOLIKO; border-radius: 20px; background: #00BCBC; border: none;position: absolute; width: 30%; height: 40px;left: 45%; top: 245px;}
a{text-decoration: none; color: #000;}

h2{font-size: 16px; font-family: nexa; position: absolute; top: 320px; left: 10%;}

.arm{width: 50%; position: absolute; top: 230px; right: 5%;}
@media only screen and (max-width:900px){
	.contenido{width: 100%;}
	.sesion{font-size: 9vw;width: 70%; top: 180px;}
	.tx{left: 17%}
	.tx2{left: 10%}
	.arm{position: absolute; top: 7px; width: 50%; left: 10%}
	.olvcon{position: absolute; top: 160px;width: 60%;}
	
}

@media only screen and (max-width:600px){
	.contenido{width: 100%;}
	.sesion{font-size: 9vw;width: 90%; top: 180px;}
	.tx{left: 17%}
	.tx2{left: 10%}
	.arm{position: absolute; top:10px; width: 80%}
	.olvcon{position: absolute; top: 160px;width: 60%;}
	
}
